.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    font-size: 0.875rem;
    color: var(--black);

    @media (prefers-color-scheme: dark) {
        color: var(--white);
    }
}

.mobile-nav {
    position: fixed;
    top: 0;
    width: 100%;

    @media (min-width: 640px) {
        display: none;
    }
}

.window-content {
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 48px;

    @media (min-width: 640px) {
        padding-top: 0;
    }

    .chat-container {
        display: flex;
        flex: 1 1 0;
        border: var(--border-in-light);
        border-top: none;
        border-bottom: none;
    }
}
