.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    font-size: 0.875rem;
    color: #e5e5e5;

    @media (prefers-color-scheme: dark) {
        color: #fff;
    }

    .mobileNav {
        position: fixed;
        top: 0;
        width: 100%;

        @media (min-width: 640px) {
            display: none;
        }
    }

    .windowContent {
        display: flex;
        height: 100%;
        width: 100%;
        padding-top: 48px;

        @media (min-width: 640px) {
            padding-top: 0;
        }

        .chatContainer {
            display: flex;
            flex: 1 1 0;
        }

    }
}
