.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-top: var(--border-in-light);
  padding-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
